.page-convert-video {
    background-color: var(--secondary-color);
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.page-convert-video__wrapper {
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;

    display: flex;
    flex-direction: column;
}

.page-convert-video__title {
    font-size: 6rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 1rem;
    text-align: center;
}

.page-convert-video__subtitle {
    color: var(--white-color);
    margin-bottom: 3rem;
    text-align: center;
    font-style: italic;
}

.page-convert-video__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.page-convert-video__button {
    padding: 1.6rem 3rem;
    outline: none;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.page-convert-video__button:hover {
    opacity: .8;
}


.page-convert-video__button svg {
    margin-right: 1rem;
}


.page-convert-video__input {
    flex: 1;
    padding: 1.6rem 3rem;
    outline: none;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border: none;
    background-color: var(--white-color);
}

.page-convert-video__text {
    /* font-size: 1.8rem; */
    color: var(--sub-color);
    margin-bottom: 3rem;
}

.page-convert-video__text-span {
    color: var(--primary-color);
    font-style: italic;
}

.page-convert-video__text-span:hover {
    opacity: .8;
    color: var(--primary-color);
}

.page-download-video {
    color: white;
}

.page-download-video__title {
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.page-download-video__group {
    display: flex;
    justify-content: space-between;
}

.page-download-video__group-left {
    width: calc(33.33% - 2rem);

    display: flex;
    flex-direction: column;
}

.page-download-video__group-image {
    margin-bottom: 1rem;
}

.page-download-video__group-right {
    width: calc(66.66% - 2rem);

    display: flex;
    flex-direction: column;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.ant-tabs-tab-btn {
    color: #fff;
}

.list-file-video {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.list-file-video__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
}

.list-file-video__item-title {
    font-size: 1.6rem;
}

.list-file-video__item-button {
    border: none;
    outline: none;

    padding: .8rem 1.5rem;
    background-color: var(--primary-color);

    display: flex;
    align-items: center;

    cursor: pointer;
}



.list-file-video__item-button:hover {
    opacity: .8;
}

.list-file-video__item-button svg {
    margin-right: .5rem;
}

.ant-modal-footer .ant-btn {
    background: var(--primary-color);
}

.modal__body {
    display: flex;
    flex-direction: column;

    text-align: center;
}

.modal__button {
    margin-top: 3rem;
    display: inline-block;
    margin: 3rem auto 0;
}

@media screen and (max-width: 1099px) {}

@media screen and (max-width: 991px) {
    /* start of large tablet styles */
}

@media screen and (max-width: 767px) {
    .page-convert-video__group {
        flex-direction: column;
    }

    .page-convert-video__input {
        width: 100%;
        border-radius: .5rem;
        margin-bottom: 2rem;

    }

    .page-convert-video__button {
        border-radius: .5rem;
    }
}

@media screen and (max-width: 479px) {
    .page-download-video__group {
        flex-direction: column;
    }

    .page-download-video__group-left {
        width: 90%;
        margin: 0 auto;
    }

    .page-download-video__group-right {
        width: 100%;
    }
}