.intro {
    padding-top: 10rem;
    padding-bottom: 6rem;
}

.intro__title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--text-color);
    text-align: center;
}

.intro__description {
    color: var(--sub-color);
    margin: 0 7rem 6rem;
    text-align: center;
}

.intro__list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.intro__item {
    width: calc(33.33% - 3rem);
    padding: 4rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
}

.intro__item-icon {
    text-align: center;
    font-size: 5rem;
    color: var(--primary-color);
    margin-bottom: 3rem;
}

.intro__item-title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.intro__item-desc {
    color: var(--sub-color);
    margin-top: auto;
}