.question {
    padding-top: 8rem;
    padding-bottom: 8rem;

    display: flex;
    flex-direction: column;
}

.question__title {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--primary-color);
    text-align: center;
}

.question__subtitle {
    color: var(--sub-color);
    margin: 0 7rem 6rem;
    text-align: center;
    font-style: italic;
}

.ant-collapse-item {
    margin-bottom: 1rem;
    border: 1px solid #eee;
}

.ant-collapse-header {
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;

    display: flex;
}

.ant-collapse {
    border: none;
}

.ant-collapse-content>.ant-collapse-content-box {
    font-size: 2rem;
}

@media screen and (max-width: 767px) {
    .question__subtitle {
        margin: 0 1rem 4rem;
    }
}